@model List<MarketViewModel>
<div id="tableContainer">
    <table class="table table-borderless" style="overflow-y: hidden;">
        <thead>
        <tr>
            <th scope="col">
                Market
            </th>
            <th scope="col">
                Pair
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                24h
            </th>
            <th scope="col">
                24h Volume
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(var market in @Model)
        {
            <tr>
                <td>
                    <div id="tableContentMarketContainer">
                        <p class="tableText">@market.Name</p>
                    </div>
                </td>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">@market.Currency.Symbol/USD</p>
                    </div>
                </td>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@market.Currency.Price</p>
                    </div>
                </td>
                @if (market.Currency.PercentChange24h < 0)
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-danger">@market.Currency.PercentChange24h%</p>
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-success">@market.Currency.PercentChange24h%</p>
                        </div>
                    </td>
                }
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@market.Currency.Volume24hUsd.ToString("N2")</p>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>