@model UserInputModel

<div class="d-flex flex-column align-content-center justify-content-center" id="registerMainContainer">
    <h1 class="align-self-center">SignIn</h1>
    <form asp-action="Login" method="post" class="formhorizontal">
        @Html.EditorForModel()
    </form>
</div>