<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TglCA.Mvc.PL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TglCA.Mvc.PL.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <partial name="Partials/_Header"/>
</header>
<div class="d-flex align-items-center justify-content-center" id="mainFlex">
    <div class="d-flex flex-column" id="mainContainer">
        @RenderBody()
    </div>
</div>
<partial name="Partials/_JsImport"/>
@await RenderSectionAsync("Scripts", false)
</body>
</html>